html {
    box-sizing: border-box;
    background-color: #98a9b3;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    display: flex;
    justify-content: center;
}

#grid-container {
    /* Keep aspect ratio to 1:1, thank you https://stackoverflow.com/a/65864592 */
    --r: calc(1 / 1);
    --cv: clamp(0px,(100vw - 100vh*var(--r))*100,90vh);
    --ch: clamp(0px,(100vh*var(--r) - 100vw)*100,90vw);
    height: calc((var(--cv) + var(--ch)/var(--r)) );
    width:  calc((var(--ch) + var(--cv)*var(--r)) );

    border: solid 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-controls {
    margin: 5%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 1vh;
}

#reset {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: inherit;
}

#grid-sizing {
    display: flex;
    justify-content: space-between;
    gap: inherit;
    flex-wrap: wrap;
}

#grid-x,
#grid-y {
    width: 100%;
}


.opacity,
.outline {
    display: flex;
}

.grid-row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-cell {
    width: 100%;
    height: 100%;
    background-color: white;
}

.cell-outline {
    outline: solid 1px black;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.button {
    background-color: #d0e7f3;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    text-decoration: none;
    touch-action: manipulation;
    transition: 0.2s;
    width: auto;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.button:active {
    background-color: white;
    transform: scale(.98);
    cursor: wait;
}

#btn-red:active {
    background-color: #f00;
}

#btn-green:active {
    background-color: #0f0;
}

#btn-blue:active {
    background-color: #00f;
}

#btn-white:active {
    background-color: #fff;
}

#btn-black:active {
    background-color: #000;
    color: #fff;
}
